.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.icon-folder {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -300px;
}

.folder p {
  margin-top: 10px;
  font-size: 1.5rem;
}

.tittle-galeria{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 40px;
}

.subtittle-galeria{
  text-align: center;
  font-size: 1.5rem;
}