.navbar {
  background-color: #B53A36;
  padding: 10px 0;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 10px 0;
  }
}